header {
    background: url('../images/ballinger-06/cover_2.jpg') no-repeat center center;
    background-size: cover;

    .title {
        .text {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }
    }
}